body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: #363434;
}

.header {
    padding: 0.5rem 6rem;
}

#brand-icon {
    margin: 0 2rem;
}

#find-us-button,
#close-button {
    margin: 0 2rem;
    color: #AB989E;
    font-size: 1.7rem;
}

#find-us-button:hover {
    text-decoration: underline;
}

#close-button:hover {
    text-decoration: underline;
}

#cover-page {
    max-width: 1200px;
}

#cover-img {
    aspect-ratio: 1 / 1;
    max-width: 50%;
    border-radius: 50%;
    object-fit: cover;
}

#homepage {
    padding: 2rem 1rem;
}

#content {
    max-width: 1500px;
}

.sub-page {
    background-color: #F4E8D7;
    border-radius: 1%;
    padding: 3rem 1.5rem 2rem 1.5rem;
    max-width: max-content;
}

.sub-page-inner {
    border-radius: 1%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.sub-page-title {
    text-align: center;
    margin-top: 3rem; 
}

.sub-page-link:link {
    text-decoration: none;
    color: #AB989E;
}
.sub-page-link:hover .sub-page-inner {
    transform: translateY(-7px);
    box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.8);
}

.sub-page-inner {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8);
    transition: all 250ms;
}

.page-img {
    border-radius: 1%;
}

@media (min-width: 1200px) {
    #homepage {
        padding: 1rem 3rem;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0.5rem 0;
    }
}
